<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
  <p appBasicHighlight>Style me with basic directive</p>
  <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'"  >Style me with better directive</p>
  <!-- *ngIf === <ng-template [ngIf]></ng-template> -->
  <div *appUnless="serverFlag">Hi I am true!</div>
  <div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is {{ value }}</p>
    <p *ngSwitchCase="10">Value is {{ value }}</p>
    <p *ngSwitchCase="100">Value is {{ value }}</p>
    <p *ngSwitchDefault>Value is Default</p>
  </div>

</div>
